# copy paste from https://github.com/pallets/flask/blob/main/.gitignore
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# ignore whatever needs to be explicitly ignored
*.ignore.*