<html>
	<title>Sander Buruma's personal website</title>
	<style>
	* {
		color: #0a0;
		background-color: black;
		font-family: monospace;
		font-size: 22px;
		text-align: center;
	}
	.container {
		padding: 30px;
	}
	</style>
	<body>
		<div class="container">
			<h4>Sander Buruma's super awesome website</h4>
			<p>Written with a DigitalOcean guide on a linode VPS, sorry DigitalOcean!</p>
			<p>I'm Sander Buruma. I'm a developer looking for new challenge. I'm used to writing in c# under Asp Net Framework and Dotnet but I've also learned Python, PHP, Javascript & Typescript (under Angular). Of course I've also learned html & css but those aren't really Turing complete programming languages.</p>
			<p>I have many small projects on <a href="https://github.com/SanderBuruma">my personal github page</a></p>
			<p>The repo of this website is <a href="https://github.com/SanderBuruma/personalwebsite3">here</a></p>
			<p>I can work in small teams but also very well on my own so long as I have a few colleagues nearby or online to bounce ideas off of or to ask for feedback and input.</p>
			<p>I prefer backend work but I like both the front and the backend, especially if a reactive framework is involved which makes the frontend challenging and interesting.</p>
			<p>If you think you'd like a chill, patient, careful and 6'8 developer on your development team please do not hesitate to email sanderburuma at fastmail dot nl</p>
		</div>
	</body>
</html>